@import '../../constants';

.input {
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  flex: 1;
  padding: 5px;
}

.label {
  font-weight: bold;
  margin-bottom: 7px;
}

.row {
  display: flex;
}

.search {
  white-space: nowrap;
}
