.button {
  font-size: inherit;
  outline: none;
  z-index: 1;
  border: 0.0625rem solid black;
  background: white;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  opacity: 0.7;

  &:active {
    filter: invert(0.3);
  }

  &:hover {
    opacity: 1;
  }
}
