.container {
  background: no-repeat left center;
  cursor: pointer;
  margin-bottom: 4px;
  padding-left: 18px;
  position: relative;
  white-space: nowrap;
}

.icon {
  margin-right: 5px;
  vertical-align: middle;
}
