@value toggleTime: 200ms;

.container {
  background: #fff;
  border: none;
  border-right: 1px solid #aaa;
  box-sizing: border-box;
  max-width: calc(50% - 10px);
  opacity: 0.95;
  z-index: 2;
  left: 0;

  &:not(.hidden) {
    min-width: 200px;
  }

  &:not(.pinned) {
    bottom: 0;
    position: absolute;
    top: 0;
    transition: transform toggleTime ease;
  }

  &.hidden {
    transform: translateX(calc(-100% + 7px));
  }

  &.pinned {
    position: relative;
  }
}

.content {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding: 25px 20px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pinButton,
.toggleButton {
}

.pinButton {
  cursor: pointer;
  height: 26px;
  line-height: 0;
  position: absolute;
  top: 10px;
  width: 27px;
  right: 15px;
}

.resizer {
  bottom: 0;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  width: 7px;
}
