@import '../../constants';

.page {
  display: block;

  & + & {
    margin-top: 1px;
  }
}

.label {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 7px;
}

.pageFilter {
  white-space: nowrap;
}
