@import 'constants';

.backButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  height: 26px;
  line-height: 0;
  width: 28px;
}

.client {
  align-items: stretch;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.foundModulesContainer {
  margin-top: 15px;
  overflow: auto;
}

.foundModulesChunk {
  & + & {
    margin-top: 15px;
  }
}

.foundModulesChunkName {
  cursor: pointer;
  font: var(--main-font);
  font-weight: bold;
  margin-bottom: 7px;
}

.foundModulesList {
  margin-left: 7px;
}

.map {
  height: 100%;
}

.mapContainer {
  flex: 1;
  position: relative;
}

.sidebar {
  font-family: $fontFamily;
  font-size: $fontSize;
}
