.detailsTooltip {
  position: absolute;
  padding: 0.3rem 0.625rem;
  border-radius: 0.25rem;
  background: #fff;
  border: 0.0625rem solid #aaa;
  opacity: 0.9;
  max-width: 40rem;
  min-width: 10rem;
  z-index: 3;
  overflow-wrap: break-word;
  visibility: hidden;

  p {
    margin: 0;
  }

  .arrow {
    margin-left: -2ch;
  }

  .issuer:not(:first-child) {
    margin-left: 2ch;
  }

  .issuers,
  .sharedByPages {
    margin-top: 1rem;
  }

  .label {
    margin-bottom: 1rem;
  }

  .sharedByPages ul {
    padding-left: 1.4rem;
    margin: 0;
  }
}
